<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ _('Crafty Controller - Login') }}{% end %}</title>
  {% block meta %} {% end %}
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/static/vendors/ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/css/adminlte.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <!-- Crafty style -->
  <link rel="stylesheet" href="/static/css/crafty.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <script>
    //determines if the user has a set theme
    function detectColorScheme(){
        var theme="light";    //default to light

        //local storage is used to override OS theme settings
        if(localStorage.getItem("theme")){
            if(localStorage.getItem("theme") == "dark"){
                var theme = "dark";
            }
        } else if(!window.matchMedia) {
            //matchMedia method not supported
            return false;
        } else if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
            //OS theme setting detected as dark
            var theme = "dark";
        }

        //dark theme preferred, set document with a `data-theme` attribute
        if (theme=="dark") {
            document.documentElement.setAttribute("data-theme", "dark");
        }
    }
    detectColorScheme();
  </script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a ><b>{{ _('Crafty') }} </b>{{ _('Controller') }}</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-card-body">
    <p class="login-box-msg">
      <b>{{ _("5 Questions and a checkbox until you're done") }}</b>

    </p>

    <form action="/setup/step1" method="post">

      <div class="form-group has-feedback">
        <label>
          {{ _('Server Name') }} - <small>{{ _('Example Survival Server') }}</small>
        </label>
        <input type="text" class="form-control" placeholder="{{ _('Server Name') }}" name="server_name" value="{{_('MyFirstServer') }}" maxlength="55">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        {% if data['is_windows'] %}
          <label>
            {{ _('Server Path') }} - <small>{{ _('Example c:\minecraft\server') }}</small>
          </label>
          <input type="text" class="form-control" placeholder="{{ _('Server Path') }}" name="server_path"
                 value="c:\windows\minecraft" maxlength="255">
          <span class="glyphicon glyphicon-folder-open form-control-feedback"></span>
        {% else %}
        <label>
            {{ _('Server Path') }} - <small>{{ _("Example: /minecraft_servers") }}</small>
          </label>
          <input type="text" class="form-control" placeholder="{{ _('Server Path') }}" name="server_path" maxlength="255"
                 value="/minecraft_servers">
          <span class="glyphicon glyphicon-folder-open form-control-feedback"></span>
        {% end %}
      </div>

      <div class="form-group has-feedback">
        <label>
          {{ _('Server Jar') }} - <small>{{ _('Example paper.jar') }}</small>
        </label>
        <input type="text" class="form-control" placeholder="{{ _('Server Jar') }}" name="server_jar" value="paperclip.jar" maxlength="255">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <label>
          {{ _('Server Max Memory in MB') }} <br /><small>{{ _('Example: 2048 - Currently') }} {{ data['mem']}} {{ _('available') }}</small>
        </label>
        <input type="number" class="form-control" placeholder="{{ _('Max Memory') }}" name="max_mem" value="2048">
      </div>

      <div class="form-group has-feedback">
        <label>
          {{ _('Server Min Memory in MB') }} <br /><small>{{ _('Example: 1024 - Currently') }} {{ data['mem']}} {{ _('available') }}</small>
        </label>
        <input type="number" class="form-control" placeholder="{{ _('Min Memory') }}" name="min_mem" value="1024">
      </div>

      <div class="form-group has-feedback">
        <label>
          {{ _('Auto Start Server after 10 Seconds:') }}
          <input type="checkbox"  name="auto_start" id="auto_start" checked="checked">

        </label>

      </div>

      <div class="row">
        <div class="col-6">

        </div>
        <!-- /.col -->
        <div class="col-6">
          <button type="submit" onclick="show_warning()" class="btn btn-success btn-block btn-flat"> {{ _('Save and Finish') }}</button>
        </div>
        <!-- /.col -->
      </div>
        {% raw xsrf_form_html() %}

    </form>
    <br />

  </div>
  <!-- /.login-card-body -->
</div>
<!-- jQuery 3 -->
<script src="/static/vendors/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="/static/js/adminlte.min.js"></script>

<!-- bootbox -->
<script src="/static/vendors/bootbox/bootbox.min.js"></script>


{% block js-script %}
<script>

function show_warning(){
  if ($('#auto_start').attr('checked'))
  {
      var dialog = bootbox.dialog({
        message: '<p class="text-center mb-0"><i class="fas fa-spin fa-cog"></i> Please wait while we start the minecraft server</p>',
        backdrop: true,
        closeButton: true
      });

  }

  function show_invalid(){
        var dialog = bootbox.dialog({
            message: "Invalid Settings Detected: {{ data['errors'] }}",
            className: 'modal modal-danger fade-in',
            okButton: false
        });
    }

    function hide_modal(){
        bootbox.hideAll()
    }

    $( document ).ready(function() {
        console.log( "ready!" );


        //adding quick/dirty padding
        $('input').css("margin-bottom",'10px')

        {% if data['errors'] %}
            show_invalid()
            setTimeout(hide_modal, 3000);
        {% end %}


    });
}


</script>

{% end %}
</body>
</html>
