{% extends ../base.html %}

{% block title %}Crafty Controller - Dashboard{% end %}


{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-6">      
        <h1 class="m-0">
          {{ _('Dashboard') }}
          <small style="font-size:.45em;">{{ _('Server Status') }}</small>
        </h1>
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> {{ _('Home') }}</a></li>
          <li class="active breadcrumb-item">{{ _('Dashboard') }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <!-- Info boxes -->
      <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fas fa-heartbeat" aria-hidden="true"></i></span>

              <div id="host_cpu" class="info-box-content">
                <span class="info-box-text">{{ _('Host CPU') }}</span>
                <span class="info-box-number"> {{ round( data['host_stats']['cpu_usage'], 2) }} % </span>

                <span class="progress-description">
                  {{ round( data['host_stats']['cpu_cur_freq'] / 1000, 2) }} GHz / {{ round( data['host_stats']['cpu_max_freq'] / 1000, 1) }} GHz <br/>
                  <!-- <small>{{ data['host_stats']['cpu_cores'] }} {{ _('threads') }}</small> -->
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-card -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-red">
              <i class="fas fa-microchip" aria-hidden="true"></i>
            </span>

            <div id="host_ram" class="info-box-content">
              <span class="info-box-text">{{ _('Host RAM') }}</span>
              <span class="info-box-number"> {{ data['host_stats']['mem_percent'] }}%</span>


              <span class="progress-description">
                {{ data['host_stats']['mem_usage'] }} / {{ data['host_stats']['mem_total'] }}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-card -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="far fa-hdd" aria-hidden="true"></i></span>
            <div id="host_disk" class="info-box-content">
              <span class="info-box-text">{{ _('Host Root Disk') }}</span>
              <span class="info-box-number">
                {{ data['host_stats']['disk_percent'] }} %
              </span>
              <span class="progress-description">
                {{ data['host_stats']['disk_usage'] }} / {{ data['host_stats']['disk_total'] }}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-card -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-secondary"><i class="fas fa-server" aria-hidden="true"></i></span>

            <div id="host_run" class="info-box-content">
              <span class="info-box-text">{{ _('Minecraft Servers') }}</span>
              <span class="info-box-number"> {{ len(data['servers_running'] ) }} {{ _('Running') }}</span>
              <span class="progress-description">
                 {{ len(data['servers_defined']) }} {{ _('Defined') }}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



    <div class="row">

      {% for s in data['servers_defined'] %}
        <div class="col-sm-12 col-lg-6 col-xl-4">

          {% if s['running'] %}
          <div class="card card-success">
          {% else %}
          <div class="card card-danger">
          {% end %}

          <div class="card-header">
            <h3 class="card-title" data-toggle="tooltip" title="Server ID {{ s['id'] }} - {{ s['name'] }}">{{ s['name'] }}</h3>

            <div class="card-tools float-right text-right">

              {% if data['user_data']['svr_control'] %}
              <a class="btn btn-tool {% if s['running'] %} disabled {% end %}" href="/admin/commands?command=server_start&id={{ s['id'] }}" >
                <i class="fas fa-play"></i>
              </a>

              <a class="btn btn-tool {% if not s['running'] %} disabled {% end %} " href="/admin/commands?command=server_stop&id={{ s['id'] }}">
                <i class="fas fa-stop"></i>
              </a>

              <a class="btn btn-tool" href="/admin/commands?command=server_restart&id={{ s['id'] }}">
                <i class="fas fa-sync-alt" aria-hidden="true"></i>
              </a>

              {% end %}

              {% if data['user_data']['config'] %}
              <a class="btn btn-tool" href="/admin/server_config?id={{ s['id'] }}">
                <i class="fas fa-cogs"></i> {{ _('Edit') }}
              </a>
              {% end %}

              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

              <br/>

              <span id="server-status-{{ s['id'] }}">Server Status</span>

            </div>

          </div>
          <!-- /.card-header -->

          <div class="card-body text-center">

            {% if data['user_data']['svr_control'] %}
            <a href="/admin/server_control?id={{ s['id'] }}" class="btn btn-default btn-sm">
              <i class="far fa-eye" aria-hidden="true"></i> {{ _('Details') }}
            </a>

            <a href="/admin/virtual_console?id={{ s['id'] }}" class="btn btn-default btn-sm">
              <i class="fas fa-terminal" aria-hidden="true"></i> {{ _('Terminal') }}
            </a>
            {% end %}

            {% if data['user_data']['logs'] %}
            <a href="/admin/get_logs?id={{ s['id'] }}" class="btn btn-default btn-sm">
              <i class="fas fa-list" aria-hidden="true"></i> {{ _('Logs') }}
            </a>
            {% end %}

            {% if data['user_data']['backups'] %}
            <a href="/admin/backups?id={{ s['id'] }}" class="btn btn-default btn-sm">
              <i class="far fa-save" aria-hidden="true"></i> {{ _('Backup') }}
            </a>
            {% end %}

            {% if data['user_data']['schedules'] %}
            <a href="/admin/schedules?id={{ s['id'] }}" class="btn btn-default btn-sm">
              <i class="far fa-clock" aria-hidden="true"></i> {{ _('Tasks') }}
            </a>
            {% end %}

            {% if data['user_data']['files'] %}
            <a href="/admin/files?id={{ s['id'] }}" class="btn btn-default btn-sm">
              <i class="far fa-folder" aria-hidden="true"></i> {{ _('Files') }}
            </a>
            <br/>

            <div id="info-server-{{ s['id'] }}" class="">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>

            {% end %}

          </div>
          


              
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.block -->

      {% end %}

      <div class="col-3">
        <div class="card card-info collapsed-card">
                <div class="card-header">
                  <h3 class="card-title">{{ _('Create New Server') }}</h3>

                  <div class="card-tools float-right">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form action="/admin/add_server" method="post">

                    <div class="form-group has-feedback">
                      <label>
                        {{ _('Server Name') }} - <small>{{ _('Example Survival Server') }}</small>
                      </label>
                      <input type="text" class="form-control" placeholder="{{ _('Server Name') }}" name="server_name" value="{{ _('My New Server') }}" maxlength="55">
                      <span class="glyphicon glyphicon-file form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                      <label>
                          {{ _('Server Path') }} - <small>{{ _('Example /minecraft_servers') }}</small>
                        </label>
                        <input type="text" class="form-control" placeholder="{{ _('Server Path') }}" name="server_path" maxlength="255"
                              value="/minecraft_servers">
                        <span class="glyphicon glyphicon-folder-open form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                      <label>
                        {{ _('Server Jar') }} - <small>{{ _('Example paper.jar') }}</small>
                      </label>
                      <input type="text" class="form-control" placeholder="{{ _('Server Jar') }}" name="server_jar" value="paperclip.jar" maxlength="255">
                      <span class="glyphicon glyphicon-file form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                      <label>
                        {{ _('Server Max Memory in MB') }} <br /><small>{{ _('Example: 2048') }} </small>
                      </label>
                      <input type="number" class="form-control" placeholder="{{ _('Max Memory') }}" name="max_mem" value="2048">
                    </div>

                    <div class="form-group has-feedback">
                      <label>
                        {{ _('Server Min Memory in MB') }} <br /><small>{{ _('Example: 1024') }} </small>
                      </label>
                      <input type="number" class="form-control" placeholder="{{ _('Min Memory') }}" name="min_mem" value="1024">
                    </div>

                    <div class="form-group has-feedback">
                      <label>
                        {{ _('Auto Start Server after 10 Seconds') }}:
                        <input type="checkbox"  name="auto_start" id="auto_start" >

                      </label>

                    </div>

                    <div class="row float-right">
                      <!-- /.col -->
                      <div class="col-12">
                        <button type="submit" onclick="delay()" class="btn btn-success btn-block btn-flat"> {{ _('Create New Server') }}</button>
                      </div>
                      <!-- /.col -->
                    </div>
                      {% raw xsrf_form_html() %}

                  </form>
                </div>
                <!-- /.card-body -->
              </div>


      </div>



    </div>

  </div>

</section>


{% end %}

{% block js-script %}

<script>
  $(document).ready(function () {
    refreshServerInfos();
    ServerStatusRefresh();
    HostStatusRefresh();
  });

  function HostStatusRefresh() {
    refreshId = setInterval(refreshHostInfos, 3000);
  }

  function refreshHostInfos() {
    refreshCpuInfos();
    refreshRamInfos();
    refreshDiskInfos();
    refreshRunningServers();
  }

  function ServerStatusRefresh() {
    refreshId = setInterval(refreshServerInfos, 60000);
  }

  function refreshServerInfos() {
    {% for s in data['servers_defined'] %}
      loadServerStatus({{ s['id'] }});
      loadServerInfos({{ s['id'] }});
    {% end %}
  }


  function delay(time='5-10'){
        bootbox.alert({
            message: "Please give the server " + time + " seconds to start if auto-start was enabled",
            backdrop: true
        });
  }

  function show_invalid(){
      var dialog = bootbox.dialog({
          message: "Invalid Settings Detected: {{ data['errors'] }}",
          className: 'modal modal-danger fade-in',
          okButton: true
      });
  }

  function hide_modal(){
        bootbox.hideAll()
    }

    function refreshCpuInfos() {
      $("#host_cpu").load("/ajax/host_cpu_infos", function(responseTxt, statusTxt, xhr){
        if (statusTxt == "error")
          console.log("CPU Status Error : "+statusTxt+" -> "+responseTxt);
      });
    }
    
    function refreshRamInfos() {
      $("#host_ram").load("/ajax/host_ram_infos", function(responseTxt, statusTxt, xhr){
        if (statusTxt == "error")
          console.log("RAM Status Error : "+statusTxt+" -> "+responseTxt);
      });
    }
    
    function refreshDiskInfos() {
      $("#host_disk").load("/ajax/host_disk_infos", function(responseTxt, statusTxt, xhr){
        if (statusTxt == "error")
          console.log("Disk Status Error : "+statusTxt+" -> "+responseTxt);
      });
    }
    
    function refreshRunningServers() {
      $("#host_run").load("/ajax/host_running_servers", function(responseTxt, statusTxt, xhr){
        if (statusTxt == "error")
          console.log("Run Status Error : "+statusTxt+" -> "+responseTxt);
      });
    }
    
  function loadServerStatus(srv_id) {
      $("#server-status-"+srv_id).load("/ajax/server_status?id="+srv_id, function(responseTxt, statusTxt, xhr){
        if (statusTxt == "error")
          console.log("Status Error : "+statusTxt+" -> "+responseTxt);
      });
  }

  function loadServerInfos(srv_id) {
      $("#info-server-"+srv_id).load("/ajax/server_infos?id="+srv_id, function(responseTxt, statusTxt, xhr){
        if (statusTxt == "error")
          console.log("Infos Error : "+statusTxt+" -> "+responseTxt);
      });
  }

   {% if data['errors'] %}
      show_invalid()
      setTimeout(hide_modal, 3000);
  {% end %}


</script>

{% end %}
